@-webkit-keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
    }
  }
  @keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
    }
  }
  /*Télechargement de la page*/
  .loading {
    border: 10px solid #ff79da;
    border-top: 10px solid #9356dc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: load 2s linear;
            animation: load 2s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
  @-webkit-keyframes display-contain {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes display-contain {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }